td {
    padding: 10px;
    margin: 5px;
    width: 500px;
}
th {
    text-align: left;
}
.numbers {
    padding: 5px;
    margin: 0;
    width: 50px;
}
td:nth-child(5) {
    font-style: italic;
}
td:nth-child(2) {
    font-style: italic;
    font-weight: bold;
}